.c-cal__cel {
  position: relative;
  width: calc(100% / 7);
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  background: #003567;
  color: #ffffff;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.c-cal__cel::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.u-text #para{
  font-size: larger;
  font: 100;
}

