{% extends 'common/base.html' %}
{% load static %}
{% block content %}

  <body data-home-page="Home.html" data-home-page-title="Home" class="u-body u-xl-mode" data-lang="en">
    <section class="u-align-center u-clearfix u-white u-section-1" id="carousel_274a">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1">
        <div class="u-expanded-width-sm u-expanded-width-xs u-shape u-shape-svg u-text-palette-3-base u-shape-1">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 150" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1b21"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 150" x="0px" y="0px" id="svg-1b21"><path d="M43.2,126.9c14.2,1.3,27.6,7,39.1,15.6c8.3,6.1,19.4,10.3,32.7,5.3c11.7-4.4,18.6-17.4,21-30.2c2.6-13.3,8.1-25.9,15.7-37.1
	c8.3-12.1,10.8-27.9,5.3-42.7C150.5,20.3,134.6,9,117,7.6C107.9,6.9,98.8,5,90.1,1.9C83-0.6,75-0.7,67.4,2.1
	c-9.9,3.7-17,11.6-20.1,21c-3.3,10.1-10.9,18-20.6,22.2c-0.1,0-0.1,0.1-0.2,0.1c-20.3,8.9-31,32-24.6,53.2
	C6.9,115.6,25.2,125.2,43.2,126.9z"></path></svg>
        </div>
        <div class="u-expanded-width-sm u-expanded-width-xs u-shape u-shape-svg u-text-palette-2-light-1 u-shape-2">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 130" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-71c0"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 130" x="0px" y="0px" id="svg-71c0"><path d="M52.6,11.4C12,28.8-29.7,90.3,29.4,124c19.1,10.9,43.7,6.6,57.2-10.7c0.4-0.5,0.8-1,1.1-1.5c17.8-24.6,32.6-4.1,48.4-8.5
	C180.4,91.2,168.9-38.5,52.6,11.4z"></path></svg>
        </div>
        <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-image u-image-round u-layout-cell u-radius-50 u-size-60 u-image-1" data-image-width="900" data-image-height="895">                    
                    <div class="u-container-layout">
                      <img src="{% static 'images/p12.png' %}" style="width: 600px; height: 400px; align-items: center;" >
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-size-40">
                    <div class="u-layout-row">
                      <div class="u-align-left u-container-style u-image u-image-round u-layout-cell u-radius-50 u-size-60 u-image-2" data-image-width="1000" data-image-height="1000">
                        <div class="u-container-layout u-container-layout-2" src="{"></div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-20">
                    <div class="u-layout-row">
                      <div class="u-align-left u-container-style u-image u-image-round u-layout-cell u-radius-50 u-size-30 u-image-3" data-image-width="626" data-image-height="417">
                        <div class="u-container-layout u-container-layout-3" src=""></div>
                      </div>
                      <div class="u-align-left u-container-style u-image u-image-round u-layout-cell u-radius-50 u-size-30 u-image-4" data-image-width="960" data-image-height="912">
                        <div class="u-container-layout u-container-layout-4" src=""></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-align-center u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-radius-50 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-5">
            <h2 class="u-text u-text-default u-text-1">For all of life’s moments</h2>
            <h6 class="u-custom-font u-text u-text-2" style="font-size: 20px;">"Work stress, sleep problems, relationship woes — we all deal with so much in our day-to-day lives.
              
              Luckily, there’s MindSpace. With guided lessons on mindfulness, sleep, and simply remembering to breathe, it’s the everyday site for feeling better."
              
            </h6>
            <p class="u-text u-text-default u-text-3"><a href="" class="u-active-none u-border-1 u-border-active-palette-3-base u-border-black u-border-hover-palette-3-base u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1"></a>
            </p>
          </div>
        </div>
      </div>
    </section>

    

    <section class="u-align-center u-clearfix u-white u-section-3" id="carousel_06db">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width-sm u-expanded-width-xs u-shape u-shape-svg u-text-palette-2-light-1 u-shape-1">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 130" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-71c0"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 130" x="0px" y="0px" id="svg-71c0"><path d="M52.6,11.4C12,28.8-29.7,90.3,29.4,124c19.1,10.9,43.7,6.6,57.2-10.7c0.4-0.5,0.8-1,1.1-1.5c17.8-24.6,32.6-4.1,48.4-8.5
	C180.4,91.2,168.9-38.5,52.6,11.4z"></path></svg>
        </div>
        <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-shape u-shape-svg u-text-palette-3-base u-shape-2">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 150" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1b21"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 150" x="0px" y="0px" id="svg-1b21"><path d="M43.2,126.9c14.2,1.3,27.6,7,39.1,15.6c8.3,6.1,19.4,10.3,32.7,5.3c11.7-4.4,18.6-17.4,21-30.2c2.6-13.3,8.1-25.9,15.7-37.1
	c8.3-12.1,10.8-27.9,5.3-42.7C150.5,20.3,134.6,9,117,7.6C107.9,6.9,98.8,5,90.1,1.9C83-0.6,75-0.7,67.4,2.1
	c-9.9,3.7-17,11.6-20.1,21c-3.3,10.1-10.9,18-20.6,22.2c-0.1,0-0.1,0.1-0.2,0.1c-20.3,8.9-31,32-24.6,53.2
	C6.9,115.6,25.2,125.2,43.2,126.9z"></path></svg>
        </div>
        <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
          <h2 class="u-text u-text-1"> Journaling </h2>
          <p class="u-text u-text-3 u-text-black">When you were a teenager, you might have kept a diary hidden under your mattress. It was a place to confess your struggles and fears without judgment or punishment. It likely felt good to get all of those thoughts and feelings out of your head and down on paper. The world seemed clearer.

            You may have stopped using a diary once you reached adulthood. But the concept and its benefits still apply. Now it’s called journaling. It's simply writing down your thoughts and feelings to understand them more clearly. And if you struggle with stress, depression, or anxiety, keeping a journal can be a great idea. It can help you gain control of your emotions and improve your mental health.</p>
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-image u-image-round u-layout-cell u-radius-50 u-size-60 u-image-1" data-image-width="1000" data-image-height="1000">
                    <div class="u-container-layout u-container-layout-1" >
                      <img src="{% static 'images/p8.webp' %}" style="width: 300px; height: 300px; align-items: center; margin-left: 250px;" class="u-logo-image u-logo-image-1  ">
                      <a href="{% url 'meditation' %}" class="u-active-palette-3-base u-btn u-btn-round u-button-style u-hover-palette-3-base u-palette-2-base u-radius-50 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2" style="margin-left: 240px;">Start Journaling</a>
                    </div>                  
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-image u-image-round u-layout-cell u-radius-50 u-size-30 u-image-2" data-image-width="626" data-image-height="417">
                    <div class="u-container-layout u-container-layout-2" src=""></div>
                  </div>
                  <div class="u-align-left u-container-style u-image u-image-round u-layout-cell u-radius-50 u-size-30 u-image-3" data-image-width="735" data-image-height="1080">
                    <div class="u-container-layout u-container-layout-3" src=""></div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-image u-image-round u-layout-cell u-radius-50 u-size-60 u-image-4" data-image-width="1080" data-image-height="1080">
                    <div class="u-container-layout u-container-layout-4" src=""></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-clearfix u-expanded-width u-gutter-38 u-layout-wrap u-layout-wrap-2">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-5">
                <div class="u-container-layout u-container-layout-5">
                  <h3 class="u-text u-text-1">Meditation</h3>
                  <div class="u-container-layout u-container-layout-1" >
                    <img src="{% static 'images/p9.webp' %}" style="width: 400px; height: 300px; margin-left: 0%; margin-top: 0%;" class="u-logo-image u-logo-image-1  ">
                  </div> 
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-6">
                <div class="u-container-layout u-valign-top u-container-layout-6">
                  <p class="u-text u-text-3 u-text-black">Meditation denotes an array of techniques that promoteTrusted Source mind and body integration. Some types involve keeping mental focus on a sensation, while other types entail focusing awareness on the present without making judgments.

                    People use meditation to foster relaxation and heightened awareness in a stressful world where senses often become dull. Research suggests that meditation may have the potential to improve physical well-being, as well as emotional health, but most of the evidence is preliminary.</p>
                  <a href="{% url 'meditation' %}" class="u-active-palette-3-base u-btn u-btn-round u-button-style u-hover-palette-3-base u-palette-2-base u-radius-50 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2">learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-clearfix u-palette-3-base u-section-4" id="carousel_f9b7">
      <!-- <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1"> -->
        <!-- <div class="u-shape u-shape-svg u-text-palette-3-light-1 u-shape-1">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ebf3"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-ebf3"><path d="M157.4,45.5c11.3-39.1-16.3-50.2-43.8-43.8c-25.2,5.8-35.5,17.2-61,16.5C21.7,17.4,0,39.8,0,71.3
	c0,49.1,58.2,47.8,76.2,68.5c38.8,44.7,92.8,8.2,79.3-40.3C148.1,73.2,155.9,50.6,157.4,45.5z"></path></svg>
        </div> -->
        <div class="u-align-center u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
          <!-- </div>
        </div>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2"> -->

              </div>
            </div>
            <!-- <div class="u-container-style u-list-item u-repeater-item"> -->
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h2 class="u-text u-text-default u-text-1"> Therapy</h2>
                <p class="u-text u-text-3 u-text-black"> Therapy, also called psychotherapy or counseling, is the process of meeting with a therapist to resolve problematic behaviors, beliefs, feelings, relationship issues, and/or somatic responses (sensations in the body). Beginning therapy can be a big step toward being the healthiest version of yourself and living the best life possible—no matter what challenges you may be facing. Through therapy, you can change self-destructive behaviors and habits, resolve painful feelings, improve your relationships, and more.

                  Though no one can tell you exactly what your therapy process will be like, in all modes of therapy you will establish goals for your therapy and determine the steps you will take to get there. Whether in individual, group, or family therapy, your relationship with your therapist is a confidential one and focuses not only on the content of what you talk about, but also the process. The therapeutic process--how you share your feelings and experiences--is considered to be just as important as the specific issues or concerns you share in therapy. Once you start therapy, it may help to know and recognize elements of healthy therapy as well as warning signs of questionable therapy.&nbsp;
                  <a href="{% url 'meditation' %}" class="u-active-palette-3-base u-btn u-btn-round u-button-style u-hover-palette-3-base u-palette-2-base u-radius-50 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2">Learn more</a>
                </p>
                <div class="u-container-layout u-container-layout-1" >
                  <img src="{% static 'images/p10.webp' %}" style="width: 400px; height: 300px; margin-left: 230px;;" class="u-logo-image u-logo-image-1  ">
                </div> 
                
                </div>
            </div>
          </div>
        </div>
        <!-- <div class="u-shape u-shape-svg u-text-palette-2-light-1 u-shape-2">
          
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1270"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-1270"><g><g><path d="M138.9,102.2c-9.5,10.1-24.4,20.2-41.2,27.4C63.2,144.5,21,147.1,3.1,112.4c-9.9-19.1,6.5-28.8,11.8-45.7
			c5.3-16.9-11.4-32.3-5.1-49.9c1.8-4.9,4.9-9,8.9-11.9C24,1,30.8-0.8,37.8,0.3C43.6,1.2,49,3.5,54.3,5.7c8.8,3.7,17.4,7.1,26.3,9.8
			c15.7,4.7,31.3,3.7,47.1,7.2c8.5,1.9,16.7,5.6,22.6,11.8C170.3,55.7,155.8,84.1,138.9,102.2z"></path>
</g>
</g></svg>
        </div>
      </div> -->
      
    </section>

  
   


   

   
    
    
    
</body></html>

{% endblock %}