{% extends 'common/base.html' %}
{% load static %}
{% block content %}

<section class="u-clearfix u-palette-3-base u-section-2" id="carousel_ec7d">
    <div class="u-expanded-width u-shape u-shape-rectangle u-white u-shape-1"></div>
    <div class="u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        {% for i in rec %}
        <div class="u-align-center u-container-style u-list-item u-radius-15 u-repeater-item u-shape-round u-white u-list-item-1">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <img src="{% static 'images/about-time.png' %}" style="height: 0px; border-radius: 80%;"></span>
            <h5 class="u-custom-font u-font-raleway u-text u-text-default u-text-palette-2-base u-text-1">{{i.choices}}</h5>
            <p class="u-text u-text-palette-2-dark-2 u-text-2">{{i.name}}</p>
            <p class="u-text u-text-palette-2-dark-2 u-text-2">{{i.description}}</p>
            <p class="u-text u-text-palette-2-dark-2 u-text-2">{{i.genre}}</p>
            <p class="u-text u-text-palette-2-dark-2 u-text-2">{{i.link}}</p>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
    
  </section>

  <div class="u-align-center u-container-style u-expanded-width u-group u-shape-rectangle u-group-1" style="margin-top: 30px;">
    <div class="u-container-layout u-container-layout-7">
    </div>
  </div>
{% endblock %}